<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>test</title>
</head>
<body>
<h1>test</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cupiditate dolorum nemo pariatur, quam quibusdam ullam! Animi, blanditiis distinctio doloremque eos, laudantium molestias officia quaerat quas quasi quis ratione soluta.</p>
</body>
</html>