{% extends 'base.html.twig' %}

{% block title %}Tous les mots{% endblock %}

{% block body %}
    <h2>Tous les mots</h2>

    {% for term in terms %}
        <article>
            <div><a href="{{ path('term_detail', {'slug': term.slug}) }}">{{ term.term }}</a></div>
        </article>
    {% endfor %}

    {% dump("yoyooyoyo") %}
{% endblock %}
