{% extends 'base.html.twig' %}

{% block title %}Tous les mots{% endblock %}

{% block body %}
    <h2>Tous les mots</h2>

    {% for term in terms %}
        <article>
            <div>{{ term.term }}</div>
            <div>Ajouté le {{ term.dateCreated|date("d/m/Y à H:i") }}</div>
        </article>
    {% endfor %}

    {% dump("yoyooyoyo") %}
{% endblock %}
