{% extends 'base.html.twig' %}

{% block body %}
    <h2>Contribuer au dictionnaire !</h2>

    {# affichage du formulaire #}
    <div>
        {{ form(termForm) }}
    </div>

{% endblock %}

{% block title %}
    Contribuer au dictionnaire
{% endblock %}

