<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <img src="{{ asset('img/wikebec-white.png') }}">

        <h1><a href="{{ path('main_home') }}">Wikébec</a></h1>

        <a href="{{ path('main_test') }}">Test</a>

        <a href="https://google.com">Google</a>
    </header>

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer>

    </footer>
</body>
</html>